.overlayStyle4 {
  position: "fixed";
  top: 0;
  left: 200px;
  width: calc(100vw - 200px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@media (min-width: 1300px) {
  .overlayStyle4 {
    position: "fixed";
    top: 0;
    left:200px;
    width: calc(100vw - 250px);
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}
